* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, "sans-serif";
  color: white;
  overflow-x: hidden;
}

body {
  background-color: black;
  max-width: 100%;
}

nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 20px 0 #97BF10;
  align-items: center;
  height: 100px;
  z-index: 10;
  overflow: hidden;
}
nav .logo {
  overflow: hidden;
}
nav .logo a {
  width: 20%;
}
nav .logo a #groot {
  width: inherit;
}
nav .logo a #klein {
  width: fit-content;
  display: none;
}
nav .navigatie_groot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}
nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 20px;
}
nav a:hover {
  color: #97BF10;
}
nav a button {
  background-color: #97BF10;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px #97BF10;
  color: white;
}
nav a button:hover {
  background-color: #fff;
  color: #97BF10;
}
nav a .actieflink {
  color: #97BF10;
}
nav .navigatie_klein {
  display: none;
}

footer {
  background-image: url("assets/background2.png");
  background-position: top;
  width: 100%;
  padding: 100px 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}
footer #gegevens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer #gegevens div {
  padding-bottom: 50px;
}
footer #gegevens div h4 {
  font-size: 30px;
}
footer #gegevens div p {
  font-size: 20px;
}
footer #gegevens div a img {
  width: 100px;
}
footer #undertheline div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer #undertheline div img {
  width: 150px;
}

#home main header {
  min-width: 100%;
  height: 900px;
  padding-top: 350px;
  background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#home main header div hr {
  width: 200px;
  margin: 0 auto;
  border: 2px solid #97BF10;
}
#home main header div h1 {
  color: white;
  font-size: 72px;
  text-align: center;
  padding: 20px 0;
}
#home main header div h3 {
  color: white;
  font-size: 25px;
  text-align: center;
}
#home main header img {
  width: 100%;
}
#home main #diensten {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
}
#home main #diensten h2 {
  font-size: 48px;
  color: #97BF10;
  text-align: center;
}
#home main #diensten #soortendiensten {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 65%;
}
#home main #diensten #soortendiensten a {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin: 20px;
}
#home main #diensten #soortendiensten a h4 {
  display: none;
}
#home main #diensten #soortendiensten a button {
  display: none;
}
#home main #diensten #soortendiensten a:hover h4 {
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
#home main #diensten #soortendiensten a:hover button {
  display: flex;
  background-color: #97BF10;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px #4c503e;
  color: white;
}
#home main #diensten #soortendiensten a:hover button:hover {
  background-color: #fff;
  color: #97BF10;
}
#home main #diensten #soortendiensten #cloud {
  background-image: url("assets/cloud.png");
  background-size: cover;
}
#home main #diensten #soortendiensten #cloud:hover {
  background-image: url("assets/cloud_groen.png");
}
#home main #diensten #soortendiensten #security {
  background-image: url("assets/security.png");
  background-size: cover;
}
#home main #diensten #soortendiensten #security:hover {
  background-image: url("assets/security_groen.png");
}
#home main #diensten #soortendiensten #hnsware {
  background-image: url("assets/hard&software.png");
  background-size: cover;
}
#home main #diensten #soortendiensten #hnsware:hover {
  background-image: url("assets/hard&software_groen.png");
}

#overons main header {
  background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
  background-size: cover;
  height: 500px;
  padding: 300px 0 100px 0;
}
#overons main header h1 {
  font-size: 72px;
  font-weight: normal;
  text-align: center;
}
#overons main #overonstekst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  margin: 0 auto;
}
#overons main #overonstekst img {
  width: 600px;
  margin: 100px 50px;
  border-radius: 20px;
}
#overons main #overonstekst p {
  font-size: 20px;
  margin: 100px 50px;
}
#overons main #team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0;
}
#overons main #team div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#overons main #team div img {
  width: 600px;
  margin: 100px 50px;
  border-radius: 20px;
}
#overons main #team div p {
  font-size: 20px;
  margin: 100px 50px;
}
#overons main #team h2 {
  font-size: 48px;
  color: #97BF10;
  text-align: center;
}
#overons main #kernwaarden {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1100px;
  align-items: center;
  margin: 0 auto;
  padding: 100px 15%;
  background-image: url("assets/background.png");
  background-size: cover;
}
#overons main #kernwaarden div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#overons main #kernwaarden div img {
  width: 500px;
  margin: 50px;
}
#overons main #kernwaarden div p {
  font-size: 20px;
  margin: 50px;
}
#overons main #kernwaarden div #rechts {
  text-align: right;
}
#overons main #kernwaarden h2 {
  font-size: 48px;
  color: #97BF10;
  text-align: center;
}

#contact main header {
  background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
  background-size: cover;
  height: 500px;
  padding: 300px 0 100px 0;
}
#contact main header h1 {
  font-size: 72px;
  font-weight: normal;
  text-align: center;
}
#contact main #contactmain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  padding: 100px 0;
  margin: 0 auto;
}
#contact main #contactmain #linkerkantcontact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact main #contactmain #linkerkantcontact div h2 {
  font-size: 35px;
  color: #97BF10;
}
#contact main #contactmain #linkerkantcontact div p {
  font-size: 20px;
}
#contact main #contactmain #linkerkantcontact div img {
  width: 100px;
}
#contact main #contactmain #formulier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact main #contactmain #formulier h2 {
  font-size: 35px;
  color: #97BF10;
}
#contact main #contactmain #formulier form {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
}
#contact main #contactmain #formulier form fieldset {
  border: none;
}
#contact main #contactmain #formulier form fieldset input {
  width: 47.7%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 2% 1%;
  color: #4c503e;
}
#contact main #contactmain #formulier form input {
  width: 98%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 2% 1%;
  color: #4c503e;
}
#contact main #contactmain #formulier form textarea {
  width: 98%;
  height: 75px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 2% 1%;
  color: #4c503e;
}
#contact main #contactmain #formulier form button {
  width: 47.7%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin: 2% 1%;
  color: #fff;
  background-color: #97BF10;
  box-shadow: 5px 5px 10px #97BF10;
  font-size: 20px;
}
#contact main #contactmain #formulier form button:hover {
  color: #97BF10;
  background-color: #fff;
}

.backgrounddiensten {
  background-image: url("assets/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0;
}
.backgrounddiensten .dienstenheaders {
  background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
  background-size: cover;
  height: 500px;
  padding: 300px 0 100px 0;
}
.backgrounddiensten .dienstenheaders h1 {
  font-size: 72px;
  font-weight: normal;
  text-align: center;
}
.backgrounddiensten .deel1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  margin: 50px auto;
}
.backgrounddiensten .deel1 h2 {
  font-size: 40px;
  color: #97BF10;
}
.backgrounddiensten .deel1 p {
  font-size: 20px;
  margin: 20px 0;
}
.backgrounddiensten .oplossingen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 50px auto 0 auto;
}
.backgrounddiensten .oplossingen h2 {
  color: #97BF10;
  font-size: 40px;
}
.backgrounddiensten .oplossingen div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}
.backgrounddiensten .oplossingen div div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  padding: 0 10px;
  width: 80%;
}
.backgrounddiensten .oplossingen div div h5 {
  color: #97BF10;
  font-size: 25px;
}
.backgrounddiensten .oplossingen div div p {
  font-size: 20px;
}
.backgrounddiensten .oplossingen .imgdiv {
  background-color: white;
  width: 260px;
  height: 250px;
  border-radius: 5px;
}
.backgrounddiensten .oplossingen .imgdiv img {
  width: 250px;
  padding: 10px;
}

.privacyvoorwaarden main div {
  width: 75%;
  padding: 100px 0;
  margin: 0 auto;
}
.privacyvoorwaarden main div h2 {
  color: #97BF10;
  font-size: 40px;
}
.privacyvoorwaarden main div h3 {
  color: #fff;
  font-size: 35px;
}
.privacyvoorwaarden main div li {
  color: #fff;
  font-size: 20px;
}
.privacyvoorwaarden main div p {
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  nav .logo {
    overflow: hidden;
  }
  nav .logo a {
    width: 20%;
  }
  nav .logo a #groot {
    display: none;
  }
  nav .logo a #klein {
    width: inherit;
    display: flex;
  }
  nav .navigatie_groot {
    display: none;
  }
  nav .navigatie_klein {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 75%;
  }
  nav .navigatie_klein:hover .hamburgermenuinhoud {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: black;
    width: 300px;
    height: 450px;
    text-align: right;
  }
  nav .navigatie_klein .hamburgermenu {
    display: flex;
    width: 50px;
    margin: 20px;
  }
  nav .navigatie_klein .hamburgermenuinhoud {
    display: none;
  }
  nav .navigatie_klein .hamburgermenuinhoud:hover {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: black;
    width: 300px;
    height: 450px;
    text-align: right;
  }
  footer {
    padding: 100px 5%;
  }
  #home #diensten #soortendiensten {
    justify-content: space-evenly;
    width: 100%;
  }
  .oplossingen div div {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  #overons main #overonstekst {
    flex-direction: column;
    justify-content: start;
  }
  #overons main #overonstekst img {
    margin: 100px 50px 0 50px;
  }
  #overons main #team div {
    flex-direction: column-reverse;
    justify-content: start;
  }
  #overons main #team div img {
    margin: 100px 50px 0 50px;
  }
  #contact main #contactmain {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  #home #partners img {
    width: 150px;
  }
  #contact main #contactmain {
    flex-direction: column;
    justify-content: start;
    margin: 50px;
  }
  #contact main #contactmain #formulier form {
    width: 90%;
  }
  .oplossingen div div {
    width: 100%;
  }
  .oplossingen div .imgdiv {
    display: none;
    width: 0;
  }
  .oplossingen div .imgdiv img {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #home #partners {
    display: none;
  }
  #overons main #overonstekst {
    width: 100%;
  }
  #overons main #overonstekst img {
    display: none;
  }
  #overons main #team {
    width: 100%;
  }
  #overons main #team div img {
    display: none;
  }
  #overons main #kernwaarden {
    height: auto;
    padding: 100px 10%;
  }
  #overons main #kernwaarden div {
    flex-direction: column;
    justify-content: start;
  }
  #overons main #kernwaarden div img {
    display: none;
  }
  #overons main #kernwaarden div p {
    margin: 20px 0;
  }
  #overons main #kernwaarden div #rechts {
    text-align: left;
  }
  #contact main #formulier form {
    width: 80%;
  }
  #contact main #formulier form fieldset input {
    width: 98%;
  }
}

/*# sourceMappingURL=main.css.map */
