* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,"sans-serif";
    color: white;
    overflow-x: hidden;
}
body {
    background-color: black;
}

/*navigatie*/

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 20px 0 #97BF10;
    align-items: center;
    height: 100px;
    z-index: 10;
    overflow: hidden;
}

nav .logo {
    overflow: hidden;
}

#groot {
    width: 300px;
}

#klein {
    width: 100px;
    display: none;
}

nav .navigatie_groot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 75%;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    color: #97BF10;
}

nav .actieflink {
    color: #97BF10;
}

nav a button {
    background-color: #97BF10;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px #97BF10;
    color: white;
}

nav a button:hover {
    background-color: #fff;
    color: #97BF10;
}

nav .navigatie_klein {
    display: none;
}

/*footer*/
footer {
    background-image: url("assets/background2.png");
    background-position: top;
    width: 100%;
    padding: 100px 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

footer #gegevens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer #gegevens div {
    padding-bottom: 50px;
}

footer #gegevens div h4 {
    font-size: 30px;
}

footer #gegevens div p {
    font-size: 20px;
}

footer #gegevens div a img {
    width: 100px;
}

footer #undertheline div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #undertheline div img {
    width: 150px;
}

/*home*/
/*header*/
#home main header {
    min-width: 100%;
    height: 900px;
    padding-top: 350px;
    background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home main header div hr {
    width: 200px;
    margin: 0 auto;
    border: 2px solid #97BF10;
}

#home main header div h1 {
    color: white;
    font-size: 72px;
    text-align: center;
    padding: 20px 0;
}

#home main header div h3 {
    color: white;
    font-size: 25px;
    text-align: center;
}

#home main header img {
    width: 100%;
}

/*diensten*/
#home #diensten {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
}

#home #diensten h2 {
    font-size: 48px;
    color: #97BF10;
    text-align: center;
}

#home #diensten #soortendiensten {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
}

#home #diensten #soortendiensten a {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin: 20px;
}

#home #diensten #soortendiensten a h4, #home #diensten #soortendiensten a button {
    display: none;
}

#home #diensten #soortendiensten a:hover h4 {
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

#home #diensten #soortendiensten a:hover button {
    display: flex;
    background-color: #97BF10;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px #4c503e;
    color: white;
}

#home #diensten #soortendiensten a:hover button:hover {
    background-color: #fff;
    color: #97BF10;
}

#home #diensten #soortendiensten #cloud {
    background-image: url("assets/cloud.png");
    background-size: cover;
}

#home #diensten #soortendiensten #cloud:hover {
     background-image: url("assets/cloud_groen.png");
}

#home #diensten #soortendiensten #security {
    background-image: url("assets/security.png");
    background-size: cover;
}

#home #diensten #soortendiensten #security:hover {
    background-image: url("assets/security_groen.png");
}

#home #diensten #soortendiensten #hnsware {
    background-image: url("assets/hard&software.png");
    background-size: cover;
}

#home #diensten #soortendiensten #hnsware:hover {
    background-image: url("assets/hard&software_groen.png");
}

/*partners*/
#home #partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1100px;
    padding: 200px 0;
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: bottom;
}

#home #partners h2 {
    font-size: 48px;
    color: #97BF10;
    text-align: center;
}

#home #partners img {
    width: 200px;
}

/* Slideshow container */
.slideshow-container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.slideshow-container div {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Hide the images by default*/
.mySlides {
    display: none;
}

.actief {
    display: flex;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

/*Over ons*/
/*header*/
#overons main header {
    background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
    background-size: cover;
    height: 500px;
    padding: 300px 0 100px 0;
}

#overons main header h1 {
    font-size: 72px;
    font-weight: normal;
    text-align: center;
}

/*overonstekst*/
#overons main #overonstekst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    margin: 0 auto;
}

#overons main #overonstekst img, #overons main #team div img {
    width: 600px;
    margin: 100px 50px;
    border-radius: 20px;
}

#overons main #overonstekst p, #overons main #team div p {
    font-size: 20px;
    margin: 100px 50px;
}

/*team*/
#overons main #team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}

#overons main #team h2, #overons main #kernwaarden h2 {
    font-size: 48px;
    color: #97BF10;
    text-align: center;
}

#overons main #team div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*kerwaarden*/
#overons main #kernwaarden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
    align-items: center;
    margin: 0 auto;
    padding: 100px 15%;
    background-image: url("assets/background.png");
    background-size: cover;
}

#overons main #kernwaarden div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#overons main #kernwaarden div img {
    width: 500px;
    margin: 50px;
}

#overons main #kernwaarden div p {
    font-size: 20px;
    margin: 50px;
}

#overons main #kernwaarden div #rechts {
    text-align: right;
}

/*contact*/
/*header*/
#contact main header {
    background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
    background-size: cover;
    height: 500px;
    padding: 300px 0 100px 0;
}

#contact main header h1 {
    font-size: 72px;
    font-weight: normal;
    text-align: center;
}

/*linkerkantcontact*/
#contact main #contactmain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    padding: 100px 0;
    margin: 0 auto;
}

#contact main #contactmain #linkerkantcontact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact main #contactmain #linkerkantcontact div h2 {
    font-size: 35px;
    color: #97BF10;
}

#contact main #contactmain #linkerkantcontact div p {
    font-size: 20px;
}

#contact main #contactmain #linkerkantcontact div img {
    width: 100px;
}

/*formulier*/
#contact main #formulier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact main #formulier h2 {
    font-size: 35px;
    color: #97BF10;
}

#contact main #formulier form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 700px;
}

#contact main #formulier form fieldset {
    border: none;
}

#contact main #formulier form fieldset input {
    width: 47.7%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 1%;
    color: #4c503e;
}

#contact main #formulier form input {
    width: 98%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 1%;
    color: #4c503e;
}

#contact main #formulier form textarea {
    width: 98%;
    height: 75px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 1%;
    color: #4c503e;
}

#contact main #formulier form button {
    width: 47.7%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin: 2% 1%;
    color: #fff;
    background-color: #97BF10;
    box-shadow: 5px 5px 10px #97BF10;
    font-size: 20px;
}

#contact main #formulier form button:hover {
    color: #97BF10;
    background-color: #fff;
}

/*diensten appart*/
/*header*/
.dienstenheaders {
    background-image: url("assets/A0 LIGGEND_klein_versie_zonder_logo.png");
    background-size: cover;
    height: 500px;
    padding: 300px 0 100px 0;
}

.dienstenheaders h1 {
    font-size: 72px;
    font-weight: normal;
    text-align: center;
}

/*deel1*/
.deel1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    margin: 50px auto;
}

.deel1 h2 {
    font-size: 40px;
    color: #97BF10;
}

.deel1 p {
    font-size: 20px;
    margin: 20px 0;
}

/*oplossingen*/
.oplossingen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 50px auto 0 auto;
}

.oplossingen h2 {
    color: #97BF10;
    font-size: 40px;
}

.oplossingen div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
}

.oplossingen div div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    padding: 0 10px;
    width: 80%;
}

.oplossingen div div h5 {
    color: #97BF10;
    font-size: 25px;
}

.oplossingen div div p {
    font-size: 20px;
}

.oplossingen .imgdiv {
    background-color: white;
    width: 260px;
    height: 250px;
    border-radius: 5px;
}

.oplossingen .imgdiv img {
    width: 250px;
    padding: 10px;
}

.backgrounddiensten {
    background-image: url("assets/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
}

/*privacy*/
.privacyvoorwaarden main div {
    width: 75%;
    padding: 100px 0;
    margin: 0 auto;
}

.privacyvoorwaarden main div h2 {
    color: #97BF10;
    font-size: 40px;
}

.privacyvoorwaarden main div h3 {
    color: #fff;
    font-size: 35px;
}

.privacyvoorwaarden main div li, .privacyvoorwaarden main div p {
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width:1400px) {
    /*navigatie*/
    nav .navigatie_groot {
        display: none;
    }

    #groot {
        display: none;
        width: 300px;
    }

    #klein {
        width: 100px;
        display: flex;
    }

    nav .navigatie_klein {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 75%;
    }

    nav .hamburgermenu {
        display: flex;
        width: 50px;
        margin: 20px;
    }

    nav .hamburgermenuinhoud {
        display: none;
    }

    nav .navigatie_klein:hover .hamburgermenuinhoud, nav .hamburgermenuinhoud:hover {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        background-color: black;
        width: 300px;
        height: 450px;
        text-align: right;
    }

    /*footer*/
    footer {
        padding: 100px 5%;
    }

    /*diensten*/
    #home #diensten #soortendiensten {
        justify-content: space-evenly;
        width: 100%;
    }

    /*diensten appart*/
    /*oplossingen*/
    .oplossingen div div {
        width: 75%;
    }
}

@media screen and (max-width:1200px) {
    nav .logogroot {
        display: none;
    }

    nav .logoklein {
        display: flex;
    }

    /*home*/
    /*partners*/
    /* Slideshow container */
    .slideshow-container {
        width: 900px;
    }

    /*Over ons*/
    /*overonstekst*/
    #overons main #overonstekst {
        flex-direction: column;
        justify-content: start;
    }

    #overons main #overonstekst img, #overons main #team div img {
        margin: 100px 50px 0 50px;
    }

    /*team*/
    #overons main #team div {
        flex-direction: column-reverse;
        justify-content: start;
    }

    /*contact*/
    /*linkerkantcontact*/
    #contact main #contactmain {
        /*flex-direction: column;
        justify-content: start;*/
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    /*home*/
    /*partners*/
    #home #partners img {
        width: 150px;
    }
    /* Slideshow container */
    .slideshow-container {
        width: 600px;
    }

    /*contact*/
    /*linkerkantcontact*/
    #contact main #contactmain {
        flex-direction: column;
        justify-content: start;
        margin: 50px;
    }

    #contact main #formulier form {
        width: 90%;
    }

    /*diensten appart*/
    /*oplossingen*/
    .oplossingen div div {
        width: 100%;
    }

    .oplossingen .imgdiv {
        display: none;
    }
}

@media screen and (max-width:500px) {
    /*home*/
    /*partners*/
    #home #partners {
        display: none;
    }

    /*Over ons*/
    /*overonstekst*/
    #overons main #overonstekst {
        width: 100%;
    }

    #overons main #overonstekst img, #overons main #team div img {
        display: none;
    }

    /*team*/
    #overons main #team {
        width: 100%;
    }

    /*kerwaarden*/
    #overons main #kernwaarden {
        height: auto;
        padding: 100px 10%;
    }

    #overons main #kernwaarden div {
        flex-direction: column;
        justify-content: start;
    }

    #overons main #kernwaarden div img {
        display: none;
    }

    #overons main #kernwaarden div p {
        margin: 20px 0;
    }

    #overons main #kernwaarden div #rechts {
        text-align: left;
    }

    /*contact*/
    /*linkerkantcontact*/
    #contact main #formulier form {
        width: 80%;
    }

    #contact main #formulier form fieldset input {
        width: 98%;
    }
}